
body {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: black;
  color: white;
  text-align: center;
}

nav {
  position: relative;
  top:0px;
}

#app {
  margin:50px;
}

h1 {
  padding: 50px;
}

h2 {
  margin-top: 10%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

span {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 20px;
}

#loginform {
  margin: 10% 30%;
  background-color: white;
  opacity: 0.95;
  color: black;
  padding: 0 30px 10px 15px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.guest {
  padding-top: 50px;
}

.dropdowns {
  color: black;
  font-size: 20px;
}

.results {
  margin: 50px 30%;
  padding: 20px;
  color: black;
}

.modelsbox {
  opacity: 0.95;
  font-size: 20px;
  background-color: white;
  margin:auto;
  display: block;
  width: 100%;
  border: none;
  text-align: left;

}

.model:hover {
  background-color: #f2f2f2;
}

.model {
  padding: 12px 30px;

}

.allmodels {
  margin: 0;
  padding: 10px 70px;
  width: 100%;
  overflow: hidden;
}

.allmodels:hover {
  background-color: #ccffff;
}

.modelTrims {
  text-align: center;
}

#detailsModal {
  color: black;
}

.modal-body {
  text-align: left;
}


#detailsButton {
  overflow: hidden;
  float:right;
}

h3 {
  font-size: 50px
}

.titles {
  width:100%;
  padding: 50px;
  background-color: white;
  color: black;
}

#team {
  margin: 50px auto;
  width: 500px;
  overflow: hidden;
  color: black;
}

#person1, #person2 {
  width:250px;
  float: left;

}

.name {
  font-family: 'Monoton', Arial;
}

.carisma {
  padding: 15% 0;
  font-size: 120px;
  color: #cccccc;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black
}

.searchcarbutton {
  font-size:20px;
  font-family: Arial;
  color: black;
}
