<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Cars App</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li><a href="#">Log Out</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-user"></span>Account</a></li>
    </ul>
  </div>
</nav>
<div id="app">
  <login ng-show="$ctrl.showLogin" click-login="$ctrl.clickLogin" show-search-bar="$ctrl.showSearchBar">
  </login>

  <search-bar ng-show="$ctrl.showSearchBar" makes="$ctrl.makes">

  </search-bar>

  <div>
    <button ng-show="$ctrl.showSearchBar" ng-click="$ctrl.logOut()">LogOut</button>
  </div>


</div>