<div class="name carisma">
  car.isma
  <br>
  <a href="/searchBar"><button class="searchcarbutton">Search Cars</button></a>
  <a href="/login"><button class="searchcarbutton">Login</button></a>
  <a href="/register"><button class="searchcarbutton">Register</button></a>
</div>

<div class="titles">
<h3>About</h3>
<p> Easily search through hundreds of car models to find your perfect car. Create an account and save your favorites!
</p>
</div>


<div class="titles">
<h3>Meet the Team</h3>
<div id="team">
<div id="person1">
Sharon Chen
<div><img src="/images/sharon.gif" width="70%" height="70%"></div>
Software Engineer
</div>
<div id="person2">
Anthony Nguyen
<div><img src="/images/anthony.gif" width="70%" height="70%"></div>
Software Engineer
</div>

</div
</div>