

<body ng-app="app">
<div id="loginform">
    <h1>Log In</h1>
  <form action="/login" method="post" id="logininput">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Log In"/>
    </div>
</form>
    <p class="guest" ng-click="$ctrl.clickLogin()"><a href="/searchBar">Continue as Guest</a></p>
</div>

</body>

