


<div>
<h2>Search Cars</h2>
  <div class="searchbar">
    <span>
      Select Make:
      <select
        class = "dropdowns"
        id = "make"
        ng-model="selectedMake"
        ng-change="searchMake(make); showYear=true"
        >

          <option
            id = "option"
            ng-repeat="make in makes"
            value="{{make.name}}">
            {{make.name}}
          </option>

      </select>
    </span>

    <span ng-show="showYear">
      Select Year:
      <select
        class = "dropdowns"
        id = "year"
        ng-model="selectedYear"
        ng-change="searchYear(year)"
        >
          <option>Show All Years</option>
          <option>2005</option>
          <option>2006</option>
          <option>2007</option>
          <option>2008</option>
          <option>2009</option>
          <option>2010</option>
          <option>2011</option>
          <option>2012</option>
          <option>2013</option>
          <option>2014</option>
          <option>2015</option>
          <option>2016</option>
          <option>2017</option>

      </select>
    </span>

    <span ng-show="showStyles">
      Style:
      <select
        class = "dropdowns"
        id = "style"
        ng-model="selectedStyle"
        ng-change="searchStyle(style)">
          <option>Show All Styles</option>
          <option>4dr Hatchback</option>
          <option>Coupe</option>
          <option>Convertible</option>
          <option>Sedan</option>
          <option>2dr Hatchback</option>
          <option>Wagon</option>
          <option>Regular Cab Pickup</option>
          <option>Extended Cab Pickup</option>
          <option>Crew Cab Pickup</option>
          <option>2dr SUV</option>
          <option>4dr SUV</option>
          <option>Convertible SUV</option>
          <option>Cargo Van/option>
          <option>Passenger Van</option>
          <option>Cargo Minivan</option>
          <option>Passenger Minivan</option>

      </select>
    </span>

  </div>

  <div class="results">
    <div
      class="modelsbox"
      ng-repeat="model in filteredModelsArr"
      >
        <div class="model" ng-click="modelClick(model); showAllModels=!showAllModels">
        Model: {{model}}
        </div>

        <div class="allmodels" ng-show="showAllModels" ng-repeat="specificModel in filteredModels[model]">
          {{specificModel}}
          <button id="detailsButton" class="btn btn-primary" data-target="#detailsModal" data-toggle="modal" ng-click="clickDetails(specificModel)">Details</button>


        </div>



    </div>
  </div>

</div>

<div class="modal" id="detailsModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{model}} Details</h4>
      </div>
      <div class="modal-body">
        <div>
        <p>Make: {{make}}</p>
        <p>Model: {{model}}</p>
        <p>Body Type: {{bodyType}}</p>
        <p>Years Available: {{yearsAvailable}}</p>
        <p>Transmission: {{transmission}}</p>
        <p>MPG: {{mpg}}</p>
        <p>Fuel Capacity: {{fuelCapacity}}</p>
        <p>Seating: {{seating}}</p>
        <p>Drive Type: {{driveType}}</p>
        </div>
        <hr>
        <div>
        <h4>Engine</h4>
        <p>Cylinder: {{cylinder}}</p>
        <p>Size: {{size}}</p>
        <p>Displacement: {{displacement}}</p>
        <p>Gas Type: {{gasType}}</p>
        <p>Engine Code: {{engineCode}}</p>
        </div>
      </div>
      <div>

      </div>
    </div>

  </div>
</div>
