<div>
  <div class="searchbar"> Search Vehicles
    <span>
      Select Make:
      <select
        id = "make"
        ng-model="selectedMake"
        ng-change="$ctrl.searchMake(make)">

          <option
            id = "option"
            ng-repeat="make in $ctrl.makes"
            value="{{make.name}}">
            {{make.name}}
          </option>

      </select>
    </span>
  </div>

  <div class="results">
    <div
      class="modelsbox"
      ng-repeat="model in $ctrl.filteredModelsArr"
      ng-click="$ctrl.modelClick(model); showAllModels=!showAllModels">
        <div class="model" > Model: {{model}}</div>

        <div class="allmodels" ng-show="showAllModels" ng-repeat="allModels in $ctrl.filteredModels[model]">
          {{allModels}}
        </div>


    </div>
  </div>

</div>
